.card-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px #f1eeee1a; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .card-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    transform: scale(1.1);
  }
  
  .card-header {
    font-size: 24px;
    color:#6c63ff; 
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .card-content {
    font-size: 16px;
    color: #050505; 
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-date{
    color:#02befe;
    font-weight: bold;
    padding: 10px;
  }
  .card-like{

  }
  .card-like:hover{
    background-color: #fe3d02;
  }